In [1]:
import pandas as pd

In [2]:
beansData = pd.read_csv("beansData//Beans_Price_Report.csv")
beansData.head()

,Sl. No.,District,Market,Commodity,Variety,Grade,MinPrice,MaxPrice,ModalPrice,PriceDate
0,0,Bangalore,Ramanagara,Beans,Beans (Whole),FAQ,2000,2800,2400,15-Feb-20
1,1,Bangalore,Ramanagara,Beans,Beans (Whole),FAQ,1600,2000,1800,14-Feb-20
2,2,Bangalore,Ramanagara,Beans,Beans (Whole),FAQ,1800,2200,2000,13-Feb-20
3,3,Bangalore,Ramanagara,Beans,Beans (Whole),FAQ,2000,2400,2200,12-Feb-20
4,4,Bangalore,Ramanagara,Beans,Beans (Whole),FAQ,2000,2400,2200,11-Feb-20

In [3]:
beansData["PriceDate"] = pd.to_datetime(beansData["PriceDate"])
print(beansData["PriceDate"][0].year)

2020

In [4]:
print("Number of rows per market:")
print(beansData.groupby("Market").size())

Number of rows per market:
Market
Binny Mill (F&V), Bangalore    494
Ramanagara                     637
dtype: int64

In [5]:
print("Number of rows per market per year:")
print(beansData.groupby([beansData.Market,beansData.PriceDate.dt.year]).size())

Number of rows per market per year:
Market                       PriceDate
Binny Mill (F&V), Bangalore  2018         208
                             2019         250
                             2020          36
Ramanagara                   2018         305
                             2019         295
                             2020          37
dtype: int64